body {

    margin: 0;
    
}

div {
    width: auto;
    border: 1px solid black;
}
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Lucida Console", "Courier New", monospace;
    

}

h2 {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;

}

p {
    text-align: center; 
    font-size: 18px;
    text-size-adjust: auto;
    font-family: "Lucida Console", "Courier New", monospace;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.topsect {

    background-color: #0CECDD;
    width: auto;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.midsect {

    background-color: #c90be2;
    width: auto;
    border-bottom: 5px solid black;
}

.bottsect {

    background-color: #11e9a8;
    width: auto;
    border-bottom: 5px solid black;
}