
/*Outline for parents & child*/
body {

    height: 100dvh;
    background-color: #2196F3;
    padding: 10px;
    margin: 100px;
    background-color: rgb(2, 0, 8);
    transition-duration: 1.8s;
}

div {
    width: auto;
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    transition-duration: 1.2s;
}

div:not(:first-child):not(:last-child) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

p {
    text-align: center;
}

h1 {
    text-align: center;
    text-shadow: 1px 2px 4px black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
    text-indent: center;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

h3 {
    text-align: center;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
}

h4 {
    text-align: center;
    font-size: 16px;
    font-family: "Lucida Console", "Courier New", monospace;
}

/*images and links*/
.pfp {
    display: block;
    filter: blur(3px);
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    width: 200px;
    height: 200px;
    border-radius: 60%;
    opacity: 0.6;
}

.socialicons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: center;
}

/*Main Content*/
.topsect {

    background-color: #0CECDD;

    width: 500px;
    border-radius: 100px;
    margin-top: 0%;

    box-shadow: inset 0 0 0.5em 0 currentColor;
    filter: blur(0.4em);
    
}

.midsect {

    background-color: #c90be2;

    width: 500px;
    border-radius: 100px;

    box-shadow: inset 0 0 0.5em 0 currentColor;
    filter: blur(0.4em);
}

.bottsect {

    background-color: #fcff4e;

    width: 500px;
    border-radius: 100px;

    box-shadow: inset 0 0 0.5em 0 currentColor;
    filter: blur(0.4em);
}

/*hover cfx*/

.topsect:hover, .midsect:hover, .bottsect:hover {
    filter: blur(0px);
    animation: skew-x-shake-a 0.7s;
    transition-duration: 0.8s;
    opacity: 1;
}

a:hover {
    background-color: rgb(187, 187, 187);
}


.pfp:hover {
    background-color: rgb(253, 128, 128);
    filter: blur(0px);
    filter: drop-shadow(4px 8px 5px #000000);
    animation: skew-x-shake-b .7s;
    transition-duration: .8s;
    opacity: 1;
}

.socialicons:hover {
    animation: skew-x-shake-b 0.8s;
}


/*hover keyframes fx*/
@keyframes skew-x-shake-a {
    0% { transform: skewX(-1deg); }
    5% { transform: skewX(1deg); }
    10% { transform: skewX(-1deg); }
    15% { transform: skewX(1deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

@keyframes skew-x-shake-b {
    0% { transform: skewX(-1deg); }
    5% { transform: skewX(0deg); }
    10% { transform: skewX(-1deg); }
    15% { transform: skewX(1deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }