
/*Outline for parents & child*/
body {
    background-color: #2196F3;
    padding: 10px;
    margin: 100px;
    background-color: rgb(4, 0, 15);
    
    
}

div {
    width: auto;
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
    text-indent: center;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

h3 {
    text-align: center;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
}

h4 {
    text-align: center;
    font-size: 16px;
    font-family: "Lucida Console", "Courier New", monospace;
}

/*images and links*/
.pfp {
    display: block;
    filter: blur(3px);
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    width: 200px;
    height: 200px;
    border-radius: 60%;
    border-top: 3px solid black;
    border-left: 2px solid black;
    border-right: 4px solid black;
    border-bottom: 6px solid black;
    opacity: 0.6;
}

.socialicons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: center;
}

/*Main Content*/
.topsect {

    background-color: #0CECDD;
    filter: blur(2px);
    width: 500px;
    border-radius: 100px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    margin-top: 0%;
    opacity: 0.2;
    
}

.midsect {

    background-color: #c90be2;
    filter: blur(2px);
    width: 500px;
    border-radius: 100px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    opacity: 0.2;
    
}

.bottsect {

    background-color: #fcff4e;
    filter: blur(2px);
    width: 500px;
    border-radius: 100px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    opacity: 0.2;
}

/*hover cfx*/

.topsect:hover, .midsect:hover, .bottsect:hover {
    filter: blur(0px);
    animation: skew-x-shake-a 1.3s;
    transition-duration: 2s;
    opacity: 1;
}

a:hover {
    background-color: rgb(187, 187, 187);
}

.pfp:hover {
    background-color: rgb(253, 128, 128);
    filter: blur(0px);
    border-radius: 60%;
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    animation: skew-x-shake-b .8s;
    transition-duration: .8s;
    opacity: 1;
}

.socialicons:hover {
    animation: skew-x-shake-b 1.3s;
}


/*hover keyframes fx*/
@keyframes skew-x-shake-a {
    0% { transform: skewX(-1deg); }
    5% { transform: skewX(1deg); }
    10% { transform: skewX(-1deg); }
    15% { transform: skewX(1deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

@keyframes skew-x-shake-b {
    0% { transform: skewX(-1deg); }
    5% { transform: skewX(0deg); }
    10% { transform: skewX(-1deg); }
    15% { transform: skewX(1deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }